/* Google Search */

#nav-links {
    text-align: right;
    margin-top: 20px;
}

.upper-links {
    text-decoration: none;
    color: #333131;
    padding: 10px;
    font-size: 15px;
}

.upper-links:hover {
    text-decoration: underline;
    color: #333131;
}

.right-link {
    margin-right: 20px;
}

#google-search {
    text-align: center;
}

#google-logo, #google-image-logo {
    margin-top: 100px;
}

#search-icon {
    background-image: url("../assets/images/grey-search-glass.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left 22px center;
    padding-left: 50px; 
}

input[type="text"], input[type="submit"] {
    margin-top: 20px;
}

input[type="text"] {
    width: 50%;
    height: 45px;
    border-radius: 20px;
    border-style: none;
    border: solid rgb(204, 202, 202) 1px;
      
}

input[type="text"]:hover {
    border: solid rgb(151, 149, 149) 1.5px;  
}

input[type="submit"] {
    border-style: none;
    padding: 6px 12px;
    letter-spacing: 1px;
    border-radius: 4px;
    color: #333131;
    background-color: #f8f9fa;
    font-size: 15px;
    margin-right: 5px;
}

input[type="submit"]:hover {
    border: solid #d3d4d4 1px;
}

input[type="text"]:focus {
    outline: none !important;
    padding-left: 20px;
}


/* Google Images */

#images-logo {
    color: #4285f4;
}

#override {
    position:relative;
    right: -106px;
    top: -18px;
}

#img-icons {
    background-image: url("../assets/images/camera.svg"), url("../assets/images/blue-search-glass.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 60px center, right 20px center;
}

/* Google Advanced */

#advanced-nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#google-logo-advanced {
    width: 80px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

h4 {
    color: #da3a2f;
    margin-left: 35px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 400;
    
}

h6 {
    margin-left: 35px;
    margin-top: 45px;
    color: #333333;
}

#advanced {
    margin-left: 35px;
}

label {
    color: #333333;
    font-size: 12px;
}

.advanced-input {
    border-radius: 0% !important;
    height: 30px !important;
    margin-top: 15px !important;
    width: 45% !important;  
}

.one {
    margin-left: 71px;
}

.two {
    margin-left: 13px;
}

.three {
    margin-left: 49px;

}

.four {
    margin-left: 42px;
}

#advanced-button {
    background-color: #4a8cf4;
    color: white;
    margin-top: 30px;
    margin-left: 45.5%;
}

/*

background-image: url("../assets/images/Asset\ 1.svg"), url("../assets/images/microphone.svg"), url("../assets/images/blue-search-glass.svg");
    
*/
